*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* section{
    width: 100%;
    height: 100vh;
    background-color: blue;
}
form{
    width: 10%;

    padding-left: 100px;
    padding-right: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 36px;
    margin-right: 900px;
} */
section{
    width: 100%;
    height: 100vh;
}
form{
    /* padding-left: 400px;
    padding-right: 400px; */
    width: 50%;
    height: 0vh;
    /* padding-left: 600px; */
    padding-top: 20px;
}
form >div{
    margin-left: 500px;
    
}
.btn-a{
    width: 400px;
    height: 40px;
}
@media screen and (min-width:414px) and (max-width:414px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    form{
        width: 100%;
    }
    form >div{
        /* padding: 0; */
        width: 100%;
        margin: 0;
        margin-left: 5px;
        
        /* padding-left: 10px; */
        
    }
    .btn-a{
        width: 200px;
        height: 40px;
        margin-left: 100px;
    }
}
