#icoSearch{
    height: 16px;
}
#icoSearch:hover{
    color: aliceblue;
}
#coleccionMasculino{
    font-size: 40px;
}
.footer{
    background-color: black;
    color: white;
}
.masculino{
    width: 100%;
    height: 183vh;
}
@media screen and (min-width:414px) and (max-width:414px){
    .masculino{
        width: 100%;
        height: 628vh;
    }
    .masculino .section-header{
        text-align: center;
    } 
}