#icoSearch{
    height: 16px;
}
#icoSearch:hover{
    color: aliceblue;
}
#coleccionProximamente{
    font-size: 40px;
}
.footer{
    background-color: black;
    color: white;
}
.proximamente{
    width: 100%;
    height: 183vh;
}
.ingredients{
    color: red;
}
@media screen and (min-width:414px) and (max-width:414px){
    .proximamente{
        width: 100%;
        height: 628vh;
        
    }
    .proximamente .section-header{
        text-align: center;
    } 
}