/*----------------navbar---------------*/
/* .container-fluid{
    margin-right: 300px;
    margin-left: 300px;
} */
.parallax img{
    position: relative;
}
#icoSearch{
    height: 16px;
}
#icoSearch:hover{
    color: aliceblue;
}
/*--------------hero and parallax-----------*/
body{
    width: 100%;
    height: 100%;
}
.hero{
    height: 80vh;
    width: 100% !important;
    background-color: #dedede;
}
#imagen1{
    margin-left: 200px;
    margin-top: 120px;
}
#imagen2{
    margin-left: 120px;
    margin-top: 150px;

}
#imagen3{
    margin-left: -680px;
    margin-top: 420px;
}
#particles-js{
    position: relative;
}


/*------main----*/


#destacado{
    width: 100%;
    height: 50vh;
    background-color: black;
}
#img-main{
    margin-left: 850px;
    margin-top: -300px;
}
#name1{
    margin-top: 180px;
    margin-left: 250px;
    color: white;
    font-size: 20px;
}
#name2{
    font-size: 70px;
    color: white;
    margin-top: -30px;
    margin-left: 245px;
}
.btn-a{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 180px;
    height: 50px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 50px;
    /* margin-left: 50%; */
    margin-top: -180px;
    margin-left: 245px;
    
}
/*--------secciones----*/
.femenina{
    width: 100%;
    height: 75vh;
   
}
#coleccionfemenina{
    font-size: 50px;
    margin-left: 43vh;
    margin-top: 30px;
}
.masculina{
    width: 100%;
    height: 75vh;
}
#coleccionmasculina{
    font-size: 50px;
    margin-left: 43vh;
    margin-top: 30px;
}
.proximamente{
    width: 100%;
    height: 80vh;
}
#proximamente{
    font-size: 50px;
    margin-left: 50vh;
    /* margin-top: 30px; */
}

.btn-g{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 40px;
    margin-left: 45%;
    
}
#imagenes1{
    margin-top: 1px;
}

/*------footer------*/

.footer{
    background-color: black;
    color: white;
}

.container-footer{
    margin-left: 300px;
}
/*-------media querys--------*/
@media screen and (min-width:414px) and (max-width:414px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        height: auto;
        background-color: white;
    }
    .hero{
        height: 75vh;
        width: 100% !important;
        background-color: #dedede;
    }
    /* .particles-js{
        height: 70vh;
        width: 100%;
        position: absolute;
        margin-top: 900px;
    } */
    #imagen1{
        width: 375px;
        height: 277px;
        /* grid-template-columns: repeat(1, auto); */
        margin-left: 20px;
        margin-top: 70px;
    }
    #imagen2{
        width: 384px;
        height: 76px;
        /* grid-template-columns: repeat(1, auto); */
        margin-left: 20px;
        margin-top: 30px;
    }
    #imagen3{
        width: 279px;
        height: 100px;
        /* grid-template-columns: repeat(1, auto); */
        margin-left: 70px;
        margin-top: 10px;
    }
    /*-----main-----*/
    #destacado{
        width: 100%;
        height: 53vh;
        background-color: black;
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    #img-main{
        margin-left: -1px;
        width: 414px;
        margin-top: -355px;
    }
    #name1{
        margin-top: 280px;
        margin-left: 100px;
        color: white;
        font-size: 20px;
    }
    #name2{
        font-size: 35px;
        color: white;
        margin-top: -30px;
        margin-left: 65px;
    }
    .btn-a{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        width: 180px;
        height: 50px;
        text-decoration: none;
        text-transform: uppercase;
        padding: 14px 50px;
        /* margin-left: 50%; */
        margin-top: -60px;
        margin-left: 120px;
        
    }
    /*----fin main----*/
    /*------section-----*/

    .femenina{
        width: 100%;
        height: 220vh;
       
    }
    #coleccionfemenina{
        margin-left: 35px;
        font-size: 35px;
    }
    /*masculiina*/
    .masculino{
        width: 100%;
        height: 220vh;
    }
    #coleccionmasculina{
        margin-left: 27px;
        font-size: 35px;
    }
    /*proximamente*/
    .proximamente{
        width: 100%;
        height: 227vh;
    }
    #proximamente{
        font-size: 35px;
        margin-left: 70px;
        margin-top: 40px;
    }
    .btn-g{
        margin-left: 110px;
        width: 180px;
        
    }
    #imagenes1{
        margin-top: 1px;
        margin-right:px;
    }

    /*------footer------*/

    .footer{
        height: 45vh;
        width: 100%;
        background-color: black;
        color: white;
    }
}